body {
  height: 100vh;
}

h1 {
  text-align: center;
  /* justify-content: center; */
}

.color-box {
  width: 240px;
  height: 400px;
  background-color: tomato;
}

.parent {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px;
  flex-wrap: wrap;
}

.color-box:first-child {
  background-color: tomato;
}
.color-box:nth-child(2) {
  background-color: teal;
}
.color-box:nth-child(3) {
  background-color: burlywood;
}
.color-box:last-child {
  background-color: thistle;
}
