body {
  height: 100vh;
}

h1 {
  text-align: center;
  /* justify-content: center; */
}

.color-box {
  width: 200px;
  height: 400px;
  background-color: tomato;
}

.first-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* flex-direction: column; */
  /* background-color: tomato; */
}
.second-row {
  display: flex;
  background-color: burlywood;
}

.first-column {
  background-color: tomato;
}

.second-column {
  background-color: teal;
}
